header{
    background-color: #17324d;
    color: white;
    text-align: center;
    padding: 25px;
}    

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f1e8;
    color: #2e2a24;
    margin: 0;
}    
.marca {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: antiquewhite;
}